* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Rubik";
  src: url("./fonts/Rubik-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Rubik";
  src: url("./fonts/Rubik-Medium.woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Rubik";
  src: url("./fonts/Rubik-Bold.woff2");
  font-weight: 700;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Rubik", sans-serif;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#map {
  height: 100%;
  min-height: 500px;
}

.content {
  position: relative;
  z-index: 10000;

  background-image: url(./images/pattern-bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content > * {
  width: 90%;
  margin: auto;
}

.header {
  margin: 30px auto;
  color: #fff;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
}

.form {
  display: flex;
  margin-bottom: 25px;
  border-radius: 16px;
  overflow: hidden;
}

.form-input {
  width: calc(100% - 70px);
  padding: 0 30px;

  color: hsl(0, 0%, 17%);
  font-size: 18px;
  font-family: inherit;
  font-weight: 400;
  border: none;
  outline-color: transparent;
}

.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 70px;
  height: 60px;
  border: none;
  background-color: hsl(0, 0%, 0%);
  cursor: pointer;
}

.arrow-icon {
  background-image: url(./images/icon-arrow.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 11px;
  height: 16px;
}

.go-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10000;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;

  color: hsl(0, 0%, 100%);
  background-color: black;

  font-weight: 700;
  font-family: inherit;

  border: none;
  border-radius: 50%;
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px) rotateZ(-90deg);
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

.go-up.hide {
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px) rotateZ(-90deg);
}

.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  padding: 25px 0;
  background-color: hsl(0, 0%, 100%);

  opacity: 1;
  text-align: center;
  border-radius: 16px;
  list-style-type: none;
  transform: translateY(0px);
  transition: all 0.2s ease;
}

.data.hide {
  opacity: 0;
  transform: translateY(-20px);
}

.data-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.data-item-content {
  color: hsl(0, 0%, 17%);
  font-size: 20px;
  font-weight: 700;
}

.data-item-content.hidden {
  visibility: hidden;
}

.data-item-title {
  color: hsl(0, 0%, 59%);
  font-size: 11px;
  font-weight: 700;

  letter-spacing: 2px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .content {
    background-image: url(./images/pattern-bg-desktop.png);
  }

  .form,
  .data {
    width: 60%;
  }
}

@media (min-width: 1024px) {
  .form {
    width: 50%;
  }

  .data {
    width: 90%;
    padding: 25px;
    flex-direction: row;
    text-align: left;
  }

  .data-item {
    flex: 1;
  }

  .data-item.left-border {
    border-left: 1px solid hsl(0deg 0% 83%);
    padding-left: 20px;
  }
}

@media (min-width: 1440px) {
  .form {
    width: 40%;
    margin-bottom: 50px;
  }

  .data {
    width: 70%;
  }
}
